/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container{
    width: 870px;
    margin-top: 21px;
    background-color: white;
    border-radius: 5px;
    padding: 33px 30px 42px 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}
/* top players style  */
.top-players{
    margin-bottom: 30px;
}
.section-title{
     color: #562EFF;
     font-size: 24px;
     font-weight: 500;
     margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blogs styles  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img {
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
   
}
.blog-title{
  
    font-size: 20px;
}
.blog-author{
    margin: 0;
    padding: 0;
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    font-size: 16px;
    text-decoration: none;
    color: #562EFF;
   
}

/* course styles  */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px ;
}
.course{
    width: 253px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    box-shadow: 2px 4px 5px 3px #e2e1e1;

}
.course .course-banner img{
    width:224px ;
    height: 104px;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    color:#FF4A60; 
    background-color: #FFE4E8; 
    height: 29px; 
    width: 74px;
    border-radius: 10px;
    padding-left: 10px;
}
.fa-clock {
    color:#FF4A60;
    
  
}

/* media queries  */

/* mobile devices */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .player, .blog, .course{
        flex-direction: column;
        align-items: center;
    }
    .course{
        margin-top: 10px;
    }

}
/* tablet devices */
@media only screen and (min-width:689px) and (max-width:992px) {

     .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .player, .blog, .course{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .course{
        margin-top: 10px;
    }
}
